html {
    background-color: black;
    height: 1px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 500vh;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

#header {
    height: 12rem;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
#header-left {
    flex: .5;
    display: flex;
    align-content: center;
    justify-content: start;
}

#header-left-c-area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2vh;
}

#header-text {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: white;
    text-align: center;
    height: 2rem;
}


#header-center {
    flex: 1;
}
#header-contact {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: end;
}

#header-c-area {
    display: flex;
    height: 100%;
    margin-right: 15%;
}
.header-c-link {
    align-self: center;

}

#header-select {
    display: flex;
    flex-direction: row;
    border-radius: 999rem;
    border: 0;
    margin-top: 8rem;
    padding: .5rem .5625rem;
    background-color: rgba(0, 0, 0, .4);
}

.header-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    border-radius: 999rem;
    padding: 0.3rem .7rem;
}
.header-link:hover {
    background-color: rgba(37, 37, 37, 0.4);
}


#main {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-text-field {
    padding: 2.4rem;
    width: 20rem; /*35vh*/
    height: 48vh; /*48vh*/
    border-radius: 9vh;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}
#main-bottom-text-l {
    margin-top: 30rem;
}
#main-bottom-text-r {
    margin-top: 30rem;
}




.long-text-field {
    width: 56rem; /*90vh*/
    justify-content: center;
    align-items: center;
}
.half-page-text-field {
    width: 40rem;
}


.main-text {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    height: 10rem;
}
.main-text-left {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: white;
    height: 10rem;
}
.main-text headers {
    font-weight: bolder;
    font-size: xx-large;
}




#kotlin-logo {
    height: 2rem;
}
#android-logo {
    height: 2.25rem;
}
#ktor-logo {
    height: 3rem;
}
.python-logo {
    height: 4rem;
}

#green-code {
    color: #6aab73;
}
#blue-code {
    color: #56a8f5;
}
#orange-code {
    color: #cf8e6d;
}
#magenta-code {
    color: #c47cba;
}
#white-code {
    color: white;
}
#gray-code {
    color: gray;
}
#darkgray-code {
    color: darkslategrey;
}

#intellij {
    background: -webkit-linear-gradient(120deg, #087CFA, #FE2857 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pycharm {
    background: -webkit-linear-gradient(129deg, #FCF84A, #3DEA62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#fleet {
    background: -webkit-linear-gradient(120deg, #AF1DF5, #07C3F2 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#webstorm {
    background: -webkit-linear-gradient(-130deg, #FCF84A, #07C3F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#vscode {
    color: #1283d1;
}
#vs {
    color: #a478db;
}

#gradle {
    color: #044c5c;
}


.white-to-black-icons {
    fill: white;
}
.black-to-white-icons {
    fill: black;
}
ul {
    text-decoration: none;
    list-style-type: none;
}
li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
     text-decoration: none;
     color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}